<div class="container"><br><br><br><br><br><br>
    <div class="row text-center">
        <div class="col-sm-6 offset-md-3">
            <i class="fa fa-check-circle fa-5x" style="color: green"></i><br><br>
            <h3>Thank you for Contacting Us!</h3><br>
            <p style="font-size:20px;color:#5C5C5C;">Thank you for Contacting Us. Admin will review your Complaint and then
                get back to you with your details.</p><br>
            <br><br>
        </div>

    </div>
</div>
<br><br><br><br>