<!-- Dashboard start -->
<div class="dashboard submit-property" style="top: 85px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-pad">
                <div class="content-area5 dashboard-content">
                    <div class="dashboard-header clearfix mt-3">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h4>Submit Property</h4>
                                <p class="font-15 mb-0">
                                    Please manually add your listing only if the listing is an Exclusive Listing and or not uploaded to ListHub. Who is our listing provider.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="submit-address dashboard-list">
                        <form (ngSubmit)="submitProperty(propertyForm)" #propertyForm="ngForm">
                            <h4 class="bg-grea-3">Basic Information</h4>
                            <div class="search-contents-sidebar">
                                <div class="row pad-20">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Property Title</label>
                                            <input type="text" class="input-text" ngModel #propertyTitle="ngModel" name="propertyTitle" placeholder="Property Title" [ngClass]="{ 'is-invalid': propertyForm.submitted && propertyTitle.invalid}" required>
                                            <p class="invalid-field" *ngIf="propertyForm.submitted && propertyTitle.invalid">Property Title is Requied</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Property Type</label>
                                            <select class="form-control" ngModel #propertyType="ngModel" name="propertyType" [ngClass]="{ 'is-invalid': propertyForm.submitted && propertyType.invalid}" required>
                                                <option value="">Select Home Type</option>
                                                <option value="houses">Houses</option>
                                                <option value="condos">Condos/co-ops</option>
                                                <option value="apartments">Apartments</option>
                                                <option value="townhomes">Townhomes</option>
                                            </select>
                                            <p class="invalid-field" *ngIf="propertyForm.submitted && propertyType.invalid">Property Type is Requied</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input type="text" class="input-text" ngModel #price="ngModel" name="price" placeholder="USD" [ngClass]="{ 'is-invalid': propertyForm.submitted && price.invalid}" required>
                                            <p class="invalid-field" *ngIf="propertyForm.submitted && price.invalid">Price is Requied</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Square Feet Area</label>
                                            <input type="number" class="input-text" ngModel #area="ngModel" name="area" placeholder="SqFt" (keydown)="matchNumbers($event)" [ngClass]="{ 'is-invalid': propertyForm.submitted && area.invalid}" required>
                                            <p class="invalid-field" *ngIf="propertyForm.submitted && area.invalid">Area is Requied</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Bedroom</label>
                                            <select class="form-control" ngModel #beds="ngModel" name="beds" [ngClass]="{ 'is-invalid': propertyForm.submitted && beds.invalid}" required>
                                                <option value="">Select bedroom</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                            <p class="invalid-field" *ngIf="propertyForm.submitted && beds.invalid">Bedroom is Requied</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label>Bathroom</label>
                                            <select class="form-control" ngModel #bathroom="ngModel" name="bathroom" [ngClass]="{ 'is-invalid': propertyForm.submitted && bathroom.invalid}" required>
                                                <option value="">Select Bathroom</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                            <p class="invalid-field" *ngIf="propertyForm.submitted && bathroom.invalid">Bathroom is Requied</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <input type="text" class="input-text" ngModel #location="ngModel" name="location" placeholder="Location Here" [ngClass]="{ 'is-invalid': propertyForm.submitted && location.invalid}" required>
                                            <p class="invalid-field" *ngIf="propertyForm.submitted && location.invalid">Location is Requied</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="bg-grea-3">Rent Details</h4>
                            <div class="row pad-20">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Rent Price</label>
                                        <input type="number" class="input-text" ngModel #rentPerMonth="ngModel" name="rentPerMonth" placeholder="Enter Amount" [ngClass]="{ 'is-invalid': propertyForm.submitted && rentPerMonth.invalid}" required>
                                        <p class="invalid-field" *ngIf="propertyForm.submitted && rentPerMonth.invalid">Rent Per Month is Requied</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Security deposit</label>
                                        <input type="number" class="input-text" ngModel #securityDepositAmount="ngModel" name="securityDepositAmount" placeholder="Enter Amount" [ngClass]="{ 'is-invalid': propertyForm.submitted && securityDepositAmount.invalid}" required>
                                        <p class="invalid-field" *ngIf="propertyForm.submitted && securityDepositAmount.invalid">Security Amount is Requied</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Date Available</label>
                                        <input type="date" class="input-text" ngModel #dateAvailable="ngModel" name="dateAvailable" [ngClass]="{ 'is-invalid': propertyForm.submitted && dateAvailable.invalid}" required>
                                        <p class="invalid-field" *ngIf="propertyForm.submitted && dateAvailable.invalid">Select Available Date</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Tour Availability</label>
                                        <input type="date" class="input-text" ngModel #tourAvailability="ngModel" name="tourAvailability" [ngClass]="{ 'is-invalid': propertyForm.submitted && tourAvailability.invalid}" required>
                                        <p class="invalid-field" *ngIf="propertyForm.submitted && tourAvailability.invalid">Select Tour Availability</p>
                                        <small class="note-down">Select the days you're available to show the property</small>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Years Build</label>
                                        <input type="number" class="input-text" (keydown)="matchNumbers($event)" ngModel #yearBuild="ngModel" name="yearBuild" [ngClass]="{ 'is-invalid': propertyForm.submitted && yearBuild.invalid}" required>
                                        <p class="invalid-field" *ngIf="propertyForm.submitted && yearBuild.invalid">Select Years Build</p>
                                        <!-- <small class="note-down">Select the days you're available to show the property</small> -->
                                    </div>
                                </div>
                            </div>
                            <h4 class="bg-grea-3">Detailed Information</h4>
                            <div class="row pad-20">
                                <div class="col-lg-12">
                                    <textarea class="input-text" ngModel #description="ngModel" name="description" placeholder="Detailed Information" [ngClass]="{ 'is-invalid': propertyForm.submitted && description.invalid}" required></textarea>
                                    <p class="invalid-field" *ngIf="propertyForm.submitted && description.invalid">Description is Requied</p>
                                </div>
                            </div>
                            <h4 class="bg-grea-3">Property Gallery</h4>
                            <div class="row pad-20">
                                <div class="col-lg-12">
                                    <ngx-dropzone (change)="onSelectImage($event)" [multiple]="true" [accept]="'.png,.jpg,.tif,.jpeg,.gif'">
                                        <ngx-dropzone-label>Drag or Click To Upload your Property Images</ngx-dropzone-label>
                                        <ngx-dropzone-preview [ngClass]="{'selected-video-dropzone': propertyImage.length == 1}" *ngFor="let f of propertyImage" [removable]="true" (removed)="onRemoveImage(f)">
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </ngx-dropzone>
                                </div>
                            </div>
                            <h4 class="bg-grea-3">Additional information</h4>
                            <div class="row pad-20">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>What I love about this Property</label>
                                        <textarea type="text" class="input-text" ngModel #additionalInformation="ngModel" name="additionalInformation" placeholder="Enter Description Here"></textarea>
                                    </div>
                                </div>
                            </div>
                            <h4 class="bg-grea-3">Features (optional)</h4>
                            <div class="row pad-20">
                                <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let option of options">
                                    <div class="checkbox checkbox-theme checkbox-circle">
                                        <input id="{{option.value}}" type="checkbox" [(ngModel)]="option.checked" name="option" value="{{option.value}}">
                                        <label for="{{option.value}}">
                                            {{option.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <h4 class="bg-grea-3">Contact Information</h4>
                            <div class="row pad-20">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="input-text" ngModel #postedByName="ngModel" name="postedByName" placeholder="Name" [ngClass]="{ 'is-invalid': propertyForm.submitted && postedByName.invalid}" required>
                                        <p class="invalid-field" *ngIf="propertyForm.submitted && postedByName.invalid">Your Name is Requied</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="input-text" ngModel #emailOfUserPosted="ngModel" name="emailOfUserPosted" placeholder="Email" [ngClass]="{ 'is-invalid': propertyForm.submitted && emailOfUserPosted.invalid}" required>
                                        <p class="invalid-field" *ngIf="propertyForm.submitted && emailOfUserPosted.invalid">Your Email is Requied</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="number" class="input-text" (keydown)="matchNumbers($event)" ngModel #phoneNumberOfPersonPosted="ngModel" name="phoneNumberOfPersonPosted" placeholder="Phone" [ngClass]="{ 'is-invalid': propertyForm.submitted && phoneNumberOfPersonPosted.invalid}" required>
                                        <p class="invalid-field" *ngIf="propertyForm.submitted && phoneNumberOfPersonPosted.invalid">Your Phone is Requied</p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button type="submit" class="btn btn-sm btn-shadow button-theme pull-right">Post Property</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>
<!-- Dashboard end -->