<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Our Services</h1>
            <ul class="breadcrumbs">
                <li><a href="">Home</a></li>
                <li class="active">Our Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<div class="services content-area">
    <div class="container">
        <div class="main-title text-center">
            <h1>Property Services</h1>
            <p>We Provide Best Service</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-rent"></i>
                    </div>
                    <h3>Renters</h3>
                    <p>
                        Find that cool little place to call your own.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-sale"></i>
                    </div>
                    <h3>Home Sellers</h3>
                    <p>
                        We are here to help your real estate agent in selling your home.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" (click)="getInformation()">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-dashboard"></i>
                    </div>
                    <h3>Points System</h3>
                    <p>
                        Earn points by having your listings shared to other social media sites.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-bill"></i>
                    </div>
                    <h3>Home Buyers</h3>
                    <p>
                        Find your next home using Swiftli and reach out to some great agents with our request more info button.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-work"></i>
                    </div>
                    <h3>Professionals</h3>
                    <p>
                        Swiftli offers Real Estate agents a way to grow their business by using their already build social media networks.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" (click)="getInformation()">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-plus"></i>
                    </div>
                    <h3>Get Free Leads</h3>
                    <p>
                        The more points you have, the more leads you will get.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>