/* Errors */
.invalid-field{
    font-size: 11px;
    color: #dc3545;
    float: left;
}
.is-invalid{
    border: 1px solid #dc3545;
}
.logo-width{
    width: 100px;
    height: 85px;
    margin-bottom: 13px;
}