<footer class="footer">
    <div class="container footer-inner">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    <img src="assets/images/main-logo.png" alt="logo" class="f-logo img-logo">
                    <div class="text">
                        <p>
                            Commited to helping real estate agents build their business and create lasting business relationships through social media connections.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4 class="heading-footer">Quick Links</h4>
                    <div class="f-border"></div>
                    <ul class="links">
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>
                            <a routerLink="/pages/about">About Swiftli</a>
                        </li>
                        <li>
                            <a routerLink="/property/find">Search Property</a>
                        </li>
                        <li>
                            <a routerLink="/agents/finder">Find Agents</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4 class="heading-footer">Reach Us</h4>
                    <div class="f-border"></div>
                    <ul class="links">
                        <li>
                            <a routerLink="/pages/services">Our Services</a>
                        </li>
                        <li>
                            <a routerLink="/pages/points-system">Point System & Free Leads</a>
                        </li>
                        <li>
                            <a routerLink="/pages/terms-and-conditions">Terms and Conditions</a>
                        </li>
                        <li>
                            <a routerLink="/pages/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-item">
                    <h4 class="heading-footer">Contact Us</h4>
                    <div class="f-border"></div>
                    <ul class="contact-info">
                        <li>
                            <i class="flaticon-pin"></i>68 Abell St. Suite 1608, Toronto, ON., M6J 0B1
                        </li>
                        <li>
                            <i class="flaticon-mail"></i><a href="mailto:customersupport@Swiftli.com ">customersupport@Swiftli.com </a>
                        </li>
                        <li>
                            <i class="flaticon-phone"></i><a class="text-font" href="tel:416-316-9516">416-316-9516</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <p class="copy">© <span class="text-font text-year">2019 </span><a href="http://encodersltd.com" target="_blank"><b>Encoders Limited. </b></a> All Rights Reserved.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <ul class="social-list clearfix">
                    <li><a routerLink="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a routerLink="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a routerLink="" class="google"><i class="fa fa-instagram"></i></a></li>
                    <li><a routerLink="" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>