<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Manage property</h1>
            <ul class="breadcrumbs">
                <li><a href="">Home</a></li>
                <li class="active">Manage</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Properties section body start -->
<div class="properties-section-body content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <img src="http://storage.googleapis.com/themevessel-products/neer/img/properties/properties-list-2.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Property one</h5>
                        <p class="card-text">
                            This property is for sale. This property is for sale. This property is for sale. This property is for sale
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <img src="http://storage.googleapis.com/themevessel-products/neer/img/properties/properties-list-2.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Property two</h5>
                        <p class="card-text">
                            This property is for sale. This property is for sale. This property is for sale. This property is for sale
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>