<div class="pricing-tables content-area mt-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Upgrade Your Membership Plan</h1>
            <p>Finding your perfect plan.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="pricing-1 plan">
                    <div class="plan-header">
                        <h5>Basic Plan Package</h5>
                        <p>Free Plan</p>
                        <div class="plan-price">Basic<span>/month</span> </div>
                    </div>
                    <div class="plan-list">
                        <ul>
                            <li><i class="fa fa-user"></i>Single user only</li>
                            <li><i class="fa fa-thumbs-up"></i>Send documents: 5/month</li>
                            <li><i class="fa fa-signal"></i>Basic fields</li>
                            <li><i class="flaticon-people"></i>Mobile app</li>
                            <li><i class="fa fa-star"></i>Free Leads Generation</li>
                            <li><i class="fa fa-rocket"></i>Sell your Homes</li>
                        </ul>
                        <div class="plan-button text-center">
                            <a href="#" class="btn btn-outline pricing-btn">Activate Plan</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="pricing-1 plan">
                    <div class="plan-header">
                        <h5>Standard Plan Package</h5>
                        <p>Plan short description</p>
                        <div class="plan-price"><sup>$</sup>250<span>/month</span> </div>
                    </div>
                    <div class="plan-list">
                        <ul>
                            <li><i class="fa fa-users"></i>Mutilple users</li>
                            <li><i class="fa fa-thumbs-up"></i>Upgrade Your Monthly Account</li>
                            <li><i class="fa fa-signal"></i>Mobile App</li>
                            <li><i class="flaticon-people"></i>Basic Fields</li>
                            <li><i class="fa fa-star"></i>Brokerage Logo Branding</li>
                            <li><i class="fa fa-rocket"></i>Reminders & Notifications</li>
                            <li><i class="fa fa-server"></i>In-Person Collaboration</li>
                        </ul>
                        <div class="plan-button text-center">
                            <a href="#" class="btn btn-outline pricing-btn button-theme">Activate Plan</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="pricing-1 plan">
                    <div class="plan-header">
                        <h5>Premium Plan Package</h5>
                        <p>Plan short description</p>
                        <div class="plan-price"><sup>$</sup>500<span>/month</span> </div>
                    </div>
                    <div class="plan-list">
                        <ul>
                            <li><i class="fa fa-users"></i>Unlimited Users</li>
                            <li><i class="fa fa-thumbs-up"></i>Upgrade Monthly Cycle for 3 months</li>
                            <li><i class="fa fa-signal"></i>2x Brokerage Logo Branding</li>
                            <li><i class="flaticon-people"></i>Buy upto 3 agents online</li>
                            <li><i class="fa fa-star"></i>Mobile App</li>
                            <li><i class="fa fa-rocket"></i>2X In-Person Collaboration</li>
                            <li><i class="fa fa-server"></i>Premium Reminders</li>
                        </ul>
                        <div class="plan-button text-center">
                            <a href="#" class="btn btn-outline pricing-btn">Activate Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>