.dashboard-content{
    padding: 20px 0px 0 !important;
}
.text-plan-pakage{
    font-size: 17px;
    font-weight: bold;
    font-family: "Gotham SSm",Helvetica,Arial,sans-serif;
}
.text-font{
    font-family: "Gotham SSm",Helvetica,Arial,sans-serif;
}
.btn-shadow{
    border: none !important;
}