<div class="content-area5 dashboard-content">
    <div class="submit-address dashboard-list">
        <h4 class="bg-grea-3">Upgrade Membership</h4>
        <div class="dashboard-message contact-2">
            <span class="text-plan-pakage">Basic Plan Pakage</span>
            <p>Basic Plan</p><br>
            <span class="text-plan-pakage">Current ratings</span>
            <p class="text-font">4.5 Star</p><br>
            <span class="text-plan-pakage">Monthly Cycle</span>
            <p>{{currentMonth}} 1, {{cuurentYear}} — {{nextMonth}} 1, {{cuurentYear}}</p><br>
            <button (click)="getMembership()" class="btn btn-shadow btn-theme">Upgrade Membership Plan</button>
        </div>
    </div>
</div>