<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Points System & Get Free Leads</h1>
                <ul class="breadcrumbs">
                    <li><a routerLink="/pages/services">Services</a></li>
                    <li class="active">Points System & Get Leads</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Sub Banner end -->
    
    <!-- Faq start -->
    <div class="faq content-area-9">
        <div class="container">
            <div class="main-title text-center">
                <h1>Swiftli RE Points System and Get Free Leads</h1>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <p>
                        Swiftli RE understands how hard agents work
                        every day to build their business. As former Agents and Brokers we feel that there should be a
                        better way than what is currently out there, that is why we built Swiftli.<br><br>
                        First off, we do not sell leads. However, we do ask that the leads we provide are answered as
                        soon as possible. We know that can sometimes be hard with taking buyers to see homes, doing
                        open houses and meeting with new sellers. This is where the point system comes in.<br><br>
                        <b>Points:</b><br> For every listing that an agent has on our site we will give them a point. Every time that
                        listing is shared to Facebook, LinkedIn, Twitter or the other social media sites that are linked on
                        the listing detail page. We will also give that listing agent another point. The more points you
                        have the higher on the list you are to getting leads.<br><br>
                        If for some reason, you just cannot get enough points through sharing your listings. We do offer
                        the opportunity to buy extra points on a monthly subscription model. If you wish to do that,
                        please follow the link in your dashboard.<br><br>
                        <b>Leads:</b><br> How to get free leads. When a buyer clicks and asks for more information about a
                        listing. We will send that lead to the listing agent to follow up with that buyer. If for some
                        reason, the listing agent cannot accept that lead within 10 minutes, that lead will go to the next
                        agent with the most points from the listing office. Who will also have 10 minutes to accept the
                        lead. Again, if this agent does not accept the lead in time we will send the lead to the next agent
                        with the highest points within the listing office. This will go on 10 times before we send it to the
                        listing Broker of Record, who we hope will send it to an agent that, is available to reach out to
                        the buyer right away.<br><br>
                        We feel that this is the fairest model and to keep all leads stay within the listing brokerage.
                    </p><br>
                </div>
            </div>
        </div>
    </div>